<section data-section-id="{{ section.id }}" data-section-type="product" class="container-fluid">

  <div class="row">
    <div class="product__treatment d-none d-md-block col-md-1">

      <div class="product__treatment-vertical">
        It's okay to be basic.
      </div>

    </div>
    <div class="product__thumbs col-sm-6 col-md-5 col-lg-6">

      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

      {% for image in product.images %}
        {% capture wrapper_class %}
          {%- unless featured_image == image -%}
            hide
          {%- endunless -%}
        {% endcapture %}

        {% include 'responsive-image' with
          image: image,
          max_width: 700,
          max_height: 800,
          image_attributes: "data-product-featured-image",
          wrapper_class: wrapper_class,
          wrapper_attributes: "data-product-image-wrapper",
        %}
      {% endfor %}

      <div class="product_thumbs-browse">
        <img src="{{ 'placeholder.png' | asset_url }}" />
      </div>

  </div>
  <div class="product__details col-sm-6 col-md-5 col-lg-4">

    <div class="product__price" data-price-wrapper>
      <span data-product-price>
        {{ current_variant.price | money }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    <h1 class="product__title">
      {{ product.title }}
    </h1>

    <div class="rte">
      {{ product.description }}
    </div>

    {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}

          <label for="Option{{ option.position }}" class="block-label">
            {% if option.name == 'Pot' %}
              Potted In
            {% elsif option.name == 'Color' %}
              Planter Color
            {% else %}
              {{ option.name }}
            {% endif %}
          </label>

          <div class="js-{{ option.name | handleize }}{% if option.name == 'Color' %} hide{% endif %}">

            {% if option.name == 'Size' %}
              <a href="#">Size Guide</a>
            {% endif %}

            {% if forloop.index0 > 0 %}

              {% for value in option.values %}
                {% unless value == 'None' %}
                <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                  <label for="Option{{ option.position }}-{{ value }}">
                    {% if option.name == 'Color' %}
                      {% assign svg_icon = 'icon-' | append: value | handleize %}
                      {% include svg_icon %}
                      <span>{{ value }}</span>
                      {% if value == 'Black' %}
                        <div class="status">Waitlist</div>
                      {% elsif value == 'Mint' %}
                        <div class="status onsale">Sale</div>
                      {% else %}
                        <div class="status">&nbsp;</div>
                      {% endif %}
                    {% else %}
                      {{ value }}
                    {% endif %}
                  </label>
                {% endunless %}
              {% endfor %}

            {% else %}

              <select
                id="Option{{ option.position }}"
                name="options[{{ option.name | escape }}]">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value and current_variant != blank %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>

            {% endif %}

          </div>

          {% if option.name == 'Color' %}
            <div class="color-help-text">
              Choose a planter from the drop down menu above to see available planter colors.
            </div>
          {% endif %}

        {% endfor %}
      {% endunless %}

      <noscript>
        <select name="id">
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
      </noscript>

      <input type="hidden" id="Quantity" name="quantity" value="1">

      <button
        type="submit"
        name="add"
        class="add-to-cart btn btn-success btn-block"
        data-submit-button
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-submit-button-text>
            {% if current_variant.available %}
              {{ current_variant.price | money }} &ndash; {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ current_variant.price | money }} &ndash; {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    {% endform %}

    <div class="shipping-info">
      Flat rate standard shipping; free over $75.
    </div>

    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Product pages"
  }
{% endschema %}
